@media screen and (max-width: 768px) {
  /* Reset CSS */
  section h1 {
    font-size: 42px;
    font-weight: 800;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.47);
  }
  h2 {
    font-size: 36px;
    font-weight: 700;
  }
  h3 {
    font-size: 24px;
    font-weight: 600;
  }
  body {
    height: auto;
  }
  section {
    padding: 0 16px;
    height: auto;
    overflow-x: hidden;
  }
  /* Header */
  .header {
    width: 100%;
  }
  .nav-wrap {
    width: 100%;
    padding: 16px;
    position: relative;
  }
  .main-menu {
    background-color: #ffffff;
    position: fixed;
    width: 70%;
    height: 100vh;
    right: -70%;
    top: 0;
    transition: 0.5s;
    z-index: 100;
  }
  .main-menu.active {
    right: 0;
  }
  .main-menu ul {
    flex-direction: column;
    margin-top: 80px;
    gap: 20px;
  }
  .main-menu ul li:hover {
    transform: translateX(20px);
  }
  .main-menu ul li.active {
    transform: scale(1.0);
    text-decoration: underline;
  }
  .hamburger {
    width: 42px;
    height: 30px;
    display: inline-block;
    position: relative;
    z-index: 1000;
  }
  .hamburger span {
    width: 100%;
    height: 1px;
    background-color: rgba(19, 19, 19, 0.9);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  .hamburger span:nth-child(2) {
    top: 50%;
  }
  .hamburger span:nth-child(3) {
    top: 100%;
  }
  .hamburger.active span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
  }
  .hamburger.active span:nth-child(2) {
    display: none;
  }
  .hamburger.active span:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
  }

  /* ### Section ### */
  /* Section - home */
  #home {
    height: 100vh;
  }
  .title-circle {
    width: 320px;
    height: 320px;
  }
  .title-circle div {
    padding: 0 20px;
  }
  .title-circle div h1,
  .title-circle div h3 {
    line-height: 1.2em;
  }
  /* Section - About me */
  .aboutme-wrap {
    width: 100%;
  }
  .profile-inner {
    width: 100%;
    height: auto;
    flex-direction: column;
    gap: 40px;
    margin: 0 auto;
  }
  .aboutme-intro {
    transform: translateY(0);
    opacity: 0;
    transition: 0.5s;
  }
  .my-image {
    width: 70%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 60px;
  }
  .my-image img {
    width: 80%;
    height: auto;
    position: relative;
  }
  .my-profile {
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
  }
  .my-profile a {
    padding: 12px 10px;
    font-size: 14px;
  }
  /* Section - Skills */
  .skills-wrap {
    width: 100%;
  }
  .skills-dec {
    margin-top: 0;
  }
  .scroll-on div {
    margin-bottom: 20px;
    opacity: 0;
    transition: 1.0s;
    transform: translateY(-80%);
    margin-bottom: 20px;
  }
  .scroll-on img {
    margin-right: 0;
    display: block;
    margin-bottom: 5px;
  }
  /* Section - portpolio */
  .portfolio-wrap {
    width: 100%;
  }
  .tab-content label {
    margin-bottom: 10px;
    display: inline-block;
  }
  .slider-wrapper {
    width: 100%;
    height: 550px;
  }
  .slider-item {
    width: 100%;
    flex-direction: column;
  }
  .content-info {
    text-align: center;
  }
  .content-info h2 {
    line-height: 1.6em;
  }
  .content-info p {
    margin: 0;
    width: 100%;
  }
  .preview {
    display: none;
  }
  .btn-portfolio {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  .practice-item img {
    width: 100%;
    height: auto;
  }
  .slick-prev.slick-arrow:before {
    display: none;
  }
  .slick-next.slick-arrow:before {
    display: none;
  }
  /* Section - Contact */
  .contact-wrap {
    width: 100%;
  }
  .contact-info {
    flex-direction: column;
    width: 100%;
    gap: 0;
    padding: 0;
    margin-top: 20px;
    text-align: center;
  }
  .contact-dec p {
    font-size: 24px;
  }
  .contact-img {
    width: 100%;
    height: 100%;
  }
  .contact-img img {
    width: 300px;
    height: 300px;
  }
  .tel img,
  .email img {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 40px;
    height: auto;
  }
  /* ### Top Scroll ### */
  .gototop {
    position: fixed;
    bottom: 16px;
    right: 16px;
    width: 50px;
    height: 50px;
  }
}