@media all and (min-width: 769px) and (max-width:1199px) {
  /* Reset CSS */
  body {
    height: auto;
  }
  section {
    padding: 0 16px;
    height: auto;
    overflow-x: hidden;
  }
  body {
    height: auto;
  }
  section {
    padding: 0 16px;
    height: auto;
  }
  /* Header */
  .header {
    width: 100%;
  }
  .nav-wrap {
    width: 100%;
    padding: 16px;
  }
  .main-menu ul {
    gap: 0;
  }
  .main-menu ul li {
    font-size: 18px;
  }
  /* ### Section ### */
  /* Section - home */
  #home {
    height: 100vh;
  }
  .title-circle {
    width: 480px;
    height: 480px;
  }
  .title-circle div h1,
  .title-circle div h3 {
    line-height: 1.2em;
  }
  /* Section - About me */
  .aboutme-wrap {
    width: 100%;
  }
  .profile-inner {
    width: 100%;
    flex-direction: column;
    height: auto;
    padding: 20px 0;
    margin: 0 auto;
    gap: 40px;
  }
  .aboutme-intro {
    transform: translateY(0);
    opacity: 0;
    transition: 0.5s;
  }
  .my-image {
    width: 40%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 80px;
  }
  .my-image img {
    width: 80%;
    height: auto;
    position: relative;
  }
  .my-profile {
    left: 50%;
    transform: translateX(-50%);
    bottom: 7%;
  }
  /* Section - Skills */
  .skills-wrap {
    width: 100%;
  }
  /* Section - portpolio */
  .portfolio-wrap {
    width: 100%;
  }
  .tab-content label {
    margin-bottom: 10px;
    display: inline-block;
  }
  .slider-wrapper {
    width: 100%;
    height: 550px;
  }
  .slider-item {
    gap: 40px;
  }
  .content-info h2 {
    line-height: 1.6em;
  }
  .btn-portfolio {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  .practice-item img {
    width: 100%;
    height: auto;
  }
  .slick-prev.slick-arrow:before {
    left: 50%;
  }
  .slick-next.slick-arrow:before {
    right: 50%;
  }
  /* Section - Contact */
  .contact-wrap {
    width: 100%;
    height: auto;
  }
  .contact-info {
    gap: 40px;
    padding: 0;
    align-items: center;
    width: 100%;
  }
  .contact-dec p {
    font-size: 24px;
  }
  .contact-img {
    width: 330px;
    height: 330px;
  }
  .tel img,
  .email img {
    width: 40px;
    height: auto;
  }
}